.main-benefit {
	.container-fluid();
	text-align: center;
	font-size: 0;
}

.block-benefit {
	display: inline-block;
	vertical-align: top;
	width: ~'calc(50% - 15px)';
	height: auto;
  	min-height: 176px;
	.gray-border();
	padding: 25px;
	background-color: #ffffff;
	margin-left: 25px;
	margin-bottom: 25px;



	&__img {
		display: inline-block;
		vertical-align: middle;
		width: 120px;
		height: 120px;

		transition: width ease 0.2s,
					height ease 0.2s;
		border-radius: 50%;
		border: 3px solid #a8c5dc;
		background-size: 55%;
		background-position: center;
		background-repeat: no-repeat;
	}

	&__text, &__text-hidden {
		display: inline-block;
		vertical-align: middle;
		width: ~'calc(100% - 125px)';
		padding-left: 25px;
		.segoe-regular(18px);
		text-align: left;
		-moz-hyphens: auto;
    	-webkit-hyphens: auto;
    	-ms-hyphens: auto;
	}

	&__text-hidden {
		display: block;
		.segoe-regular(14px);
		text-align: justify;
		padding-top: 0;
		padding-left: 0;
		width: 100%;
		overflow: hidden;
		opacity: 0;
		height: 0px;
		transition: height ease 0.3s,
					opacity ease 0.5s,
					padding ease 0.2s;
	}
}

.block-benefit:nth-child(odd) {
	margin-left: 0;
}

.block-benefit:hover {
	
	.block-benefit__text-hidden {
		padding-top: 30px;
		height: 200px;
		opacity: 1;
		@media @tablet-widths {
			height: 90px;
		}

		@media @mobil-widths {
			height: auto;
			padding-top: 10px;
		}

	}
}

@media @tablet-widths {
	.block-benefit {
		width: ~'calc(50% - 28px)';
		padding: 20px;		
  		min-height: 120px;

		&__img {
			width: 76px;
			height: 76px;
		}

		&__text {
			width: ~'calc(100% - 82px)';
			font-size: 14px;
		}

		&__text-hidden {
			font-size: 12px;
		}

		
	}
}

@media @mobil-widths {
	.block-benefit {
		width: 100%;
		max-width: 467px;		
		margin-left: 0;
		margin-bottom: -5px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		height: auto;
		padding: 15px 20px;
		
		&__text {
			width: ~'calc(100% - 82px)';
			font-size: 12px;
			padding-left: 15px;
		}

		&__text-hidden {
			padding-top: 10px;
			height: auto;
			opacity: 1;
		}
	}

	.block-benefit:first-child {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
}

