.bbtn {
	display: block;
	position: relative;
	width: 350px;
	margin: 10px auto;	
	text-align: center;
	.segoe-regular(18px);
	line-height: 20px;
	border-radius: 5px;
	border: 1px solid @color-lightgray;
	background-color: #ffffff;

	cursor: pointer;
	outline: none;

	transition: background-color ease 0.3s,
				background-image ease 0.3s,
				color ease 0.3s;

	@media @tablet-widths {
		font-size: 16px;
	}

	@media @mobil-widths {
		font-size: 14px;
		width: 80%;
		min-width: 255px;
	}
}

.bbtn span {
	width: 100%;
	position: absolute;
    top: 50%;
    left: 0;
    .segoe-regular(18px);    
	line-height: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media @tablet-widths {
		font-size: 16px;
	}

	@media @mobil-widths {
		font-size: 14px;
	}
}

.bbtn.disabled, .bbtn.disabled:hover {
	background-color: @color-btn-gray !important;
	background-image: none !important;
	cursor: default !important;
	border-color: @color-lightgray;
	color: @color-lightgray;
	box-shadow: none;
}


.bbtn--small {
	padding: 13px;
	padding-top: 10px;
	font-size: 15px;
	color: @color-text-blue;
	@media @mobil-widths {
		padding: 10px;
		font-size: 12px;
	}
}

.bbtn--big {
	padding: 25px;
	color: @color-black;
	text-decoration: underline;
	@media @mobil-widths {
		padding: 18px 5px;
	}
}

.bbtn--gray {

}

.bbtn--gray:hover {
	background-color: @color-btn-gray;
}



.bbtn--yellow {
	/*background-color: @color-yellow;
	border: none;*/
	border: 1px solid rgb(255, 238, 49);  	
  	border-radius: 8px;  
    background-image: linear-gradient(to top, rgb(255,175,45) 0%, rgb(255,222,0) 80%);
  	box-shadow: 0 0 0 1px rgba(252, 147, 11, 0.75), 0px 0px 1.71px 1.29px rgba(252, 147, 11, 0.004);
	color: @color-black;
	text-decoration: none;
}


.bbtn--yellow:hover {
	/*background-color: #ffce0c;*/
	background-image: linear-gradient(to top, rgb(255,150,49), rgb(250,196,0));
}

.bbtn--border-black {
	border: 3px solid @color-black;
	text-decoration: none;
}

.bbtn--border-black:hover {
	background-color: #f4f4f4;
}

.bbtn--shadow {
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
}

.bbtn--file {
		display: inline-block;
		position: relative;
		min-width: 180px;
		max-width: 180px;
		width: 180px;
		margin: 5px 10px;
		@media @mobil-widths {
			min-width: 100px;
			width: 100%;
			max-width: 200px;					
		}
	

		#photos {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			opacity: 0;
			font-size: 150px;
			height: 100%;
			z-index: 20;
			cursor: pointer;
		}
	}


