

.input {
	display: inline-block;
	position: relative;
	
	border-radius: 3px;
	background-color: #d3e2ed;
	border: 1px solid #d1d1d1;
	
	min-width: 50px;
	width: 100px;
	max-width: 280px;
   

	

	i {
		position: absolute;
		z-index: 101;
		top: 0;
		left: 10px;		

		.segoe-regular(10px);		

		color: @color-black;
		font-style: italic;		
	}

	&--date {width: 120px !important;}

    &--hour {width: 50px !important;}

    &--stavka {width: 200px !important;}

	&--wh {width: 200px;}

	&--km {width: 75px !important;}

    &--day {width: 75px !important;}

	&--distance, &--type {width: 280px;}

    &--login {width: 280px;}

    &--type, &--login {margin-bottom: 20px;}

    &--size-car {width: 120px;}

    &--short {width: 80px;}
}

@media @tablet-widths {
    .input  {
        &--date {width: 100px  !important;}

        &--wh {width: 200px;}

        &--km {width: 75px; margin-top: 10px !important;}

        &--day {width: 75px !important; margin-top: 0 !important;}

        &--distance, &--type {width: 200px;}

        &--size-car {width: ~'calc(100% - 85px)';}


    }
}

@media @mobil-widths {
    .input  {
        &--date {width: 150px;margin-bottom: 10px !important;}

        &--wh {max-width: 280px; width: 100%; margin-bottom: 10px;}

        &--km {width: 75px; margin-top: 0; margin-bottom: 10px !important;}
        &--day {width: 75px; margin-top: 0; margin-bottom: 0 !important;}

        &--distance, &--type, &--login {max-width: 280px; width: 100%; margin-bottom: 10px;}

        &--size-car {max-width: 100px;}

        &--stavka {width: 170px !important;}
}


   
}

.output-price-distance {
    width: 150px;
}
.output-price-distance-e {width: 60px; min-width: 60px;}

.user-input {
	height: 100%;
	width: 100%;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0 5px;
	.segoe-regular(12px);
	color: @color-black;
}

.user-input-map {
    height: 100%;
    width: 100%;
    outline: none;
   
    padding: 0 5px;
    .segoe-regular(14px);
    color: @color-black;
}

.user-input:focus,
.user-input-map:focus {
	background-color: @color-white;	
}

.user-input[type="date"] {
	width: 100%;
}

.user-input[type=number] {
    width: 100%;    
}

select.user-input {
	width: 100%;

	option {
		.segoe-regular(12px);
		color: @color-black;
	}
}

.input--big {
	height: 40px;

	.user-input {
		padding-top: 20px;
	}
}

.input--small {
	height: 30px;
}



.input--short {width: 80px;}
.input--time {width: 180px !important;}
.input--max {width: 100%;}



.ch_wrapper {
    display: block;
    vertical-align: middle;
    margin: 3px 7px 10px;
    color: @color-black;
    .segoe-regular(16px);
    line-height: 20px;
    width: auto;

    @media @mobil-widths {
        .wr {
            display: block;
            padding-left: 20px;
        }
    }

    input[type=checkbox],
    input[type=radio] {
        display: none;
        box-sizing: border-box;
        padding: 0;
    }

    label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
       

        b {
            font: inherit;
            color: @color-gray;
            white-space: nowrap;
        }
    }

    label:nth-child(2) {
        padding-left: 30px;
    }

    input[type=checkbox]:checked + label,
    input[type=radio]:checked + label {
        color: @color-black;        
    }


    input[type=checkbox] + label:before,
    input[type=radio] + label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: -2px;
        border-radius: 3px;
		background-color: #d3e2ed;
		border: 1px solid #d1d1d1;
    }

    input[type=radio] + label:before {       
        border-radius: 50%;		
    }

    input[type=checkbox]:checked + label:before,
    input[type=radio]:checked + label:before {
        content: "\2713";
        font-size: 16px;
        color: @color-black;
        text-align: center;
        line-height: 16px;
        font-weight: bold;
        background-color: @color-yellow;
    }

    input[type=radio]:checked + label:before {
    	content: "";
    	box-shadow: inset 0 0 0 2px #ffffff;
    }
}



textarea {
        resize: none;
}


textarea:focus ~i {
    opacity: 0.6;    
    color: @color-gray;
    
}

textarea:focus ~i {
    
}

.input-area {
    display: block;
    width: 100%;
    max-width: 100%;
    line-height: 1.3;
    padding-top: 15px;  
    padding-bottom: 10px;
    margin-left: 0;
    height: auto;
    text-align: left;
    margin-bottom: 20px;
    background-color: @color-white; 
     i {
        top: 5px;
        opacity: 0.6;
    }
}

.area {
    padding-top: 15px;
    max-width: 100%;
    height: 120px;
    @media @mobil-widths {
        padding-top: 30px;
        height: 220px;
    }

}


