.mobil {
	display: none;
}

.main-nav-block {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	min-height: 40px;
	background-color: @color-lightgray;
	padding: 10px;
	color: @color-white;
	.segoe-regular(18px);
	position: relative;
}
 
.main-nav--closed .main-nav {
    	
	display: none;
	width: 100%;
	position: relative;
	z-index: 1000;
	

	&__wrapper {
		.container-fluid();	
		.clearfix();		
		padding: 0;


		ul {
			width: auto;
			list-style: none;
			display: block;
						
			position: relative;

			li {				
				display: block;				
				text-align: center;				
				position: relative;				
				cursor: pointer;
				list-style: none;				
				
				a {
					display: inline-block;
					width: 100%;					
					text-decoration: none;	
					color: @color-white;				
				}
			}					
		}
	}	
}





/* ------------------------------- */
/* Стили для пунктов  меню */
/* ------------------------------- */
.main-nav {

	.gray-border();
	background-color: #ffffff;
	
	min-height: @nav-min-height;	

	&__wrapper {
		min-height: @nav-min-height;
		

		ul {
			min-height: @nav-min-height;
				
			list-style: none;
  			

			li {
				min-height: @nav-min-height;
				text-align: left;
				
				a {					
					display: inline-block; 
					width: 100%;   				
					height: @nav-min-height;
					line-height:  @nav-min-height;
					padding: 0 40px;
					.segoe-regular(16px);
					text-transform: uppercase;															
					color: @color-text-blue;

					text-decoration: none;	
					transition: color ease 0.3s;
					white-space: nowrap;				
					
				}
			}

			li:hover, li.active, li:active {				
				
				position: relative;				

				a {					
					color: @color-black;
					text-decoration: underline;
					/*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
				}							
			}
		}
	}
}


.main-nav__wrapper > ul > li > ul {
		display: none;
}

.main-nav__toggle {
	position: relative; 
  	display: block;  	
  	background-color: @color-lightgray;	
  	color: @color-white;
  	cursor: pointer;
  	border: none;
  	outline: none;
  	transition: color ease 0.5s;
  	line-height: 1.1;
  	
}


.main-nav--opened .main-nav__toggle {
 
  color: @color-black;
}

.main-nav--closed .main-nav__toggle:before {
 	display: inline-block;
 	width: 25px;
 	color: @color-white;
 	content: "\2630";
 	padding-right: 10px;
    font-size: 22px; 	
 	transition: color ease 0.5s;
}

.main-nav--opened .main-nav__toggle:before {
 	display: inline-block;
 	width: 25px;
 	color: @color-black;
 	content: "\2716";
 	padding-right: 10px;
 	font-size: 22px;
}



.main-nav--closed .main-nav__toggle:active {
 color: @color-black;
  
}

.main-nav--opened .main-nav {
	display: block;	
	position: absolute;
	top: 55px;
	left: 0;
	
	width: auto;		
	height: auto;		
	opacity: 1;		
	z-index: 5001;	
}	



.main-nav-scroll {
	height: @nav-min-height-scroll;	
  	
  	background-color: #fafafa;
  	box-shadow: 1px 0 20px 2px rgba(0, 0, 0, 0.2); 

  	.main-nav--opened .main-nav {
  		top: 75px;
  	}  

  	.main-nav-block {
  		margin-top: 25px;
  		margin-left: -9px;
  		position: relative;
  		z-index: 10000;
  		@media @mobil-widths {
  			margin-top: 0;
  		}
  	}
	


}



@media @tablet-widths {	
	

		
	

	
	
}


@media @mobil-widths {
	.main-nav-scroll .main-nav .main-nav__wrapper ul {
		width: 100%;
		
	}
	.main-nav-block {
		background-color: transparent;    	
    	color: @color-gray;
    	width: 70px;
    	float: left;
    	padding-left: 0;
	}

	
	.main-nav__toggle, .main-nav--closed .main-nav__toggle:before {
		background-color: transparent;    	
    	color: @color-gray;
	}

	.main-nav__toggle {
		font-size: 0;
		width: 50px;
	}

	.main-nav--closed .main-nav__toggle:before,
	.main-nav--opened .main-nav__toggle:before {
		font-size: 40px;
		width: 50px;
		color: @color-gray;
		padding-top: 6px;
	}

	.main-nav .main-nav__wrapper ul {
		width: 100%;
	}	

	.main-nav--opened .main-nav {
		width: 120vw;
		height: 100vh;
		top: 85px;
		left: -10vw;
		padding-left: 10vw;

	}
}

