.page-header-wr {
	display: block;
	width: 100%;
	position: relative;
	height: auto;
	background-color: #fafafa;

	@media @mobil-widths {
		height: @nav-min-height-mobil;
	}
}

.page-header {
	background-color: #fafafa;	
	border-bottom: 1px solid  rgba(0, 0, 0, 0.23);

	.bbtn {
		width: 188px;
		height: 66px;
		display: inline-block;
		margin-left: 30px;

	}
  

	&__top {
		.container-fluid();
		.clearfix();
		padding-bottom: 30px;
		padding-top: 30px;
	}

	&__bottom {
		.container-fluid();
		.clearfix();
		height: 145px;
		padding-bottom: 22px;
		padding-top: 22px;
	}

	&__logo {
		float: left;

		display: inline-block;
		vertical-align: middle;
	}

	&__left {
		float: right;
	}

	&__center {
		display: inline-block;
		width: 650px;
		float: left;
		text-align: center;
	}

	&__link {
		display: block;
		.segoe-regular(18px);	
		padding-top: 15px;
		color: @color-black;
		text-decoration: none;

		transition: ease color 0.3s;
		position: relative;
		
		margin-left: 30px;
	}

	&__link.bbtn-distances {
		.ico-absolute(-125px, 8px);
	}

	&__link.bbtn-forum {
		.ico-absolute(-165px, 8px);
	}

	&__link:hover, &__link:active, &__link.active {
		color: @color-text-blue;
		text-decoration: underline;
	}
}


.main-logo {
	
	width: 100px;
	height: 100px;
	background: url("../img/logo.png") no-repeat center;
	background-size: cover;

}

@media @tablet-widths {
	.page-header {
		.bbtn {
			margin-left: 10px;
		}

		&__link {
			font-size: 16px;			
		}

		&__left {
			
		}

		&__center {
			width: ~'calc(100vw - 40px - 100px - 170px)';
		}
	}
}

@media @mobil-widths {
	.page-header {
		border-bottom: none;	

		&__left {
			display: none;
		}

		&__bottom {
			height: 0;
		}

		&__center {
			width: 90vw;
			position: absolute;
			z-index: 10;
			top: 200px;
			left: 4vw;
			right: auto;
			display: none;

			.bbtn {
				display: inline-block;
				width: 130px;
				min-width: 130px;
				height: 50px;
				box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
				span {
					padding: 0 10px;
				}
			}

		}

		&__logo {
			position: absolute;
			z-index: 10;
			width: 50px;
			height: 50px;
			top: 13px;
			left: 50%;
			margin-left: -25px;
		}
	}
}

	.main-nav-scroll {
		.page-header-wr {
			border-bottom: 1px solid rgba(0, 0, 0, 0.23);
		}

		.page-header:last-child .page-header__bottom {
			
		}
		.page-header {
			width: 100vw;
			border-bottom: none;
			
			&__left {
				display: none;
			}

			&__left.block-login {
				display: block;
				position: relative;
				z-index: 100000;
			}

			&__top {
				padding: 5px 20px;
			}

			&__bottom {
				height: 0;
				width: 100vw;
				padding: 0;
			}
			&__center {
				position: absolute;
				display: block;
			
				width: ~'calc(100vw - 280px)';			
				z-index: 9999;
				top: 0px;
				right: 50px;
				left: auto;
				@media @mobil-widths {
					width: ~'calc(100vw - 170px)';	
				}

				.bbtn {
					display: inline-block;
					width: 50%;
					min-width: 120px;
					max-width: 300px;
					height: 20px;
					margin: 25px 10px 0;
					padding: 25px;
					box-shadow: none;

					@media @tablet-widths {
						min-width: 120px;
						max-width: 350px;
						margin: 8px 10px 0;
						padding: 18px;
					}

					@media @mobil-widths {
						min-width: 120px;
						max-width: 280px;
						height: 20px;
						margin: 8px 10px 0;
					}
					
					span {
						padding: 0 5px;
						font-size: 14px;
						@media @mobil-widths {
							padding: 0 3px;
							font-size: 11px;
						}
					}
				}
			}

			&__logo {	
				position: relative;		
				z-index: 10000;
				width: 55px;
				height: 55px;
				top: auto;
				left: auto;
				right: auto;
				margin-top: -55px;
				margin-left: 150px;
				
				@media @tablet-widths {
					top: -55px;
					left: 150px;
					right: auto;
					margin-left: 0;
					margin-top: 0;
				}

				@media @mobil-widths {
					width: 40px;
					height: 40px;					
					left: 80px;
					right: auto;
				}
				
			}
		}
	}


